body {
	background-color: lightgray;
}

.header{
	background-color: white;
	text-align: center;
	margin-top: 4%;
}

.links {
	float: left;
	padding-right: 3%;
	width: 20%;
}

.nav {
	position: fixed;
	display: flex;
	width: 100%;
	top: 0;
	left: 0;
	background-color: lightblue;
}

.nav div {
	padding: 1%;
}

.info {
	width: 60%;
	float: inline-start;
}

@media all and (max-width: 850px){

	body {
		display: grid;
		grid-template-areas: 
			"a"
			"b"
			"c"
			"d";
		
	}

	.links {
		grid-area: d;
		width: auto;
	}

	.info {
		width: auto;
	}
}